{{> head }}

    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Butterfly - By: {{name}}</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam dicta magnam corporis numquam temporibus earum nobis accusamus tenetur sunt rerum sapiente quaerat id mollitia, impedit, beatae atque unde? Id, quia.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/butterfly.jpg" class="img-thumbnail" alt="Imágen">
        </div>
    </div>

{{> footer }}